{{! 
	
	NAVIGATION
	- User configuration of this file is not required. 

}}

<ul class="menu">
	{{#foreach navigation}}
	<li role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
	{{/foreach}}
</ul>