{{! 
	
	POST FORMAT - BANNER
	- User configuration of this file is not required. 

}}

<article class="post banner">
	<a class="basicfeature postfeature" href="{{url}}" {{#if image}} style="background-image: url({{image}})" {{/if}}></a>
	<h1><a href="{{url}}">{{{title}}}</a></h1>
	<div class="info">
		<div class="left">
			<img src="{{author.image}}" alt="author" class="minigravatar">
			{{author}}
		</div>
		<div class="right">
			<a href="{{url}}" class="date"><i class="fa fa-clock-o"></i>{{date format="MMMM Do, YYYY"}}</a>
			<span class="tags">
				<i class="fa fa-tags"></i>
				{{#foreach tags}}
				<a href="{{url}}">{{name}}</a>
				{{/foreach}}
			</span>
		</div>
	</div>
	<div class="postcontents index">
		{{content words="140"}}
	</div>
	<div class="footer">
		<a href="{{url}}" class="largesolid orange left">Read More</a>
	</div>
</article>