{{!

	POST - FOOTER
	- User configuration of this file is not required.

}}

<div class="postfooter">
	<div class="social">
		<a href="http://twitter.com/share?text={{encode title}}&url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" class="sv_button blue twitter">Twitter<i class="fa fa-twitter"></i></a>
		<a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="sv_button blue facebook">Facebook<i class="fa fa-facebook"></i></a>
		<a href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" class="sv_button blue google">Google+<i class="fa fa-google-plus"></i></a>
	</div>
	<div class="tags">
		<ul class="tags_list">
			{{#foreach tags}}
			<li><a href="{{url}}" class="{{name}}">{{name}}</a></li>
			{{/foreach}}
		</ul>
	</div>
	<div class="permalink">
		Permalink: <a href="{{@blog.url}}{{url}}">{{url absolute="true"}}</a>
	</div>
</div>
