{{!

	POST FORMAT - FEATURE
	- User configuration of this file is not required.

}}

<article class="post feature">
	<a href="{{url}}" class="largeimage postfeature" {{#if image}} style="background-image: url({{image}})" {{/if}}>
		<div class="shadow"></div>
		<h1>{{{title}}}</h1>
	</a>
	<div class="info">
		<div class="left">
			<img src="{{author.image}}" alt="author" class="minigravatar">
			{{author}}
		</div>
		<div class="right">
			<a href="{{url}}" class="date"><i class="fa fa-clock-o"></i>{{date format="MMMM Do, YYYY"}}</a>
			<span class="tags">
				<i class="fa fa-tags"></i>
				{{#foreach tags}}
				<a href="{{url}}">{{name}}</a>
				{{/foreach}}
			</span>
		</div>
	</div>
	<div class="postcontents index">
		{{content words="120"}}
	</div>
	<div class="footer">
		<a href="{{url}}" class="sv_button blue left">Read More</a>
	</div>
</article>
