{{!

	SOCIAL - FOOTER
	- Add author social links here
	- These social links will appear in the page sidebar
	- Remove any unwanted links

}}

{{! TWITTER }}
<!-- <a href="http://twitter.com" target="_blank" class="social social_outline twitter"><i class="fa fa-twitter"></i></a> -->

{{! FACEBOOK }}
<!-- <a href="http://facebook.com" target="_blank" class="social social_outline facebook"><i class="fa fa-facebook"></i></a> -->

{{! INSTAGRAM }}
<!-- <a href="http://instagram.com" target="_blank" class="social social_outline instagram"><i class="fa fa-instagram"></i></a> -->

{{! RSS - LEAVE DEFAULT }}
<!-- <a href="{{@blog.url}}/rss/" target="_blank" class="social social_outline rss"><i class="fa fa-rss"></i></a> -->
