{{!

	SOCIAL - FOOTER
	- Add author social links here
	- These social links will appear in the page footer
	- Remove any unwanted links

}}

{{! TWITTER }}
<a href="http://twitter.com" target="_blank" class="sv_button twitter"><i class="fa fa-twitter"></i></a>

{{! FACEBOOK }}
<a href="http://facebook.com" target="_blank" class="sv_button facebook"><i class="fa fa-facebook"></i></a>

{{! GOOGLE+ }}
<a href="http://plus.google.com" target="_blank" class="sv_button google"><i class="fa fa-google-plus"></i></a>

{{! DRIBBBLE }}
<a href="http://dribbble.com" target="_blank" class="sv_button dribbble"><i class="fa fa-dribbble"></i></a>

{{! INSTAGRAM }}
<a href="http://instagram.com" target="_blank" class="sv_button instagram"><i class="fa fa-instagram"></i></a>

{{! RSS - LEAVE DEFAULT}}
<a href="{{@blog.url}}/rss/" target="_blank" class="sv_button rss"><i class="fa fa-rss"></i></a>
