{{! 
	
	WIDGET - BLOG INFO
	- User configuration of this file is not required. 

}}

<div class="widget info_widget">
	{{#if @blog.logo}}
	<a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
	{{/if}}
	<p>{{@blog.description}}</p>
</div>