{{!

	TAG CLOUD
	- Add common tags here for sidebar
	- Remove the default tags below if not used
	- Copy an example tag and replace the tag word in the /tag/ and > < sections
	- Replace spaces in tags with '%20' in the url eg. 'frontend%20development'

}}

<!-- <div class="widget tag_widget">
	<ul class="tags_list">
		{{! <li><a href="/tag/taghere">taghere</a></li> }}
		<li><a href="{{@blog.url}}/tag/frontend">Frontend</a></li>
		<li><a href="{{@blog.url}}/tag/development">Development</a></li>
		<li><a href="{{@blog.url}}/tag/sass">SASS</a></li>
		<li><a href="{{@blog.url}}/tag/grunt">Grunt</a></li>
		<li><a href="{{@blog.url}}/tag/javascript">JavaScript</a></li>
		<li><a href="{{@blog.url}}/tag/server">Server</a></li>
		<li><a href="{{@blog.url}}/tag/software">Software</a></li>
		<li><a href="{{@blog.url}}/tag/ghost">Ghost</a></li>
		<li><a href="{{@blog.url}}/tag/html%20css">HTML CSS</a></li>
		<li><a href="{{@blog.url}}/tag/lifecycle">Lifecycle</a></li>
		<li><a href="{{@blog.url}}/tag/project">Project</a></li>
	</ul>
</div> -->

<div class="tags">
	<ul class="tags_list">
		{{#foreach tags}}
		<li><a href="{{url}}" class="{{name}}">{{name}}</a></li>
		{{/foreach}}
	</ul>
</div>
