/*
	GLOBAL
*/

/* DOCUMENT */
body,
html {
	font: 400 16px 'Open Sans', Arial, Sans-Serif;
	height: 100%;
	background: #fff;
}

/* INLINE */
p {
	font: 400 18px 'Open Sans', Arial, Sans-Serif;
	line-height: 36px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	color: #727578;
	-ms-hyphens: auto;
}

a {
	font: 400 18px 'Open Sans', Arial, Sans-Serif;
	text-decoration: none;
	color: $accent_color;
	border: 0;
	outline: none;
	@include transition(opacity 0.2s ease-out, border 0.2s ease-out, color 0.1s ease-out);

	&:hover {
		color: #bb462f;
	}
}

strong,
em {
	font-weight: 600;
}

.minigravatar {
	width: 24px;
	height: 24px;
	margin-right: 10px;
	vertical-align: -6px;
	border-radius: 40px;
}

/* BLOCK */
h1,
h1 a {
	font: 700 43px 'Montserrat', Arial, Sans-Serif;
	line-height: 66px;
	margin: 50px 0;
	color: #2b2626;
}

h2,
h2 a {
	font: 700 34px 'Montserrat', Arial, Sans-Serif;
	line-height: 36px;
	color: #2b2626;
}

h3,
h3 a {
	font: 400 28px 'Montserrat', Arial, Sans-Serif;
	line-height: 36px;
	color: #2b2626;
}

h4,
h4 a {
	font: 400 24px 'Montserrat', Arial, Sans-Serif;
	line-height: 36px;
	color: #2b2626;
}

h5,
h5 a {
	font: 400 16px 'Montserrat', Arial, Sans-Serif;
	line-height: 36px;
	color: #2b2626;
}

table {
	clear: both;
	width: 100%;
	border-collapse: collapse;
}

th {
	font-weight: 700;
	background: #f0f0f0;
}

td,
th {
	padding: .5rem;
	text-align: left;
	border: 1px solid #dbdbdb;
}

@media (max-width: 600px) {
	p {
		font-size: 16px;
	}

	h1,
	h1 a {
		font-size: 34px;
		line-height: 52px;
	}

	h2,
	h2 a {
		font-size: 26px;
		line-height: 28px;
	}

	h3,
	h3 a {
		font-size: 22px;
		line-height: 28px;
	}

	h4,
	h4 a {
		font-size: 18px;
		line-height: 28px;
	}

	h5,
	h5 a {
		font-size: 16px;
		line-height: 28px;
	}
}

hr {
	width: 100%;
	height: 1px;
	border: 0;
	background: #d4d4d4;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* INPUT */
input {
	font: 400 14px 'Open Sans', Arial, Sans-Serif;
	width: 100%;
	padding: 14px 20px 13px;
	color: #424242;
	border: 1px solid #ebebeb;
	outline: none;
	@include box-sizing;
	@include transition(border 0.3s ease-out);

	&:focus {
		border: 1px solid $accent_color;
		box-shadow: inset 0 0 0 1px $accent_color;
	}
}

input::-webkit-input-placeholder {
	opacity: 1;
	color: #6c6c6c;
}

input:-moz-placeholder {
	opacity: 1;
	color: #6c6c6c;
}

input::-moz-placeholder {
	opacity: 1;
	color: #6c6c6c;
}

input:-ms-input-placeholder {
	opacity: 1;
	color: #6c6c6c;
}
