/*
	POST CONTENT
*/

.postcontents {
	&.index {
		* {
			display: none;
		}

		p:nth-of-type(1),
		p:nth-of-type(2) {
			display: block;
		}

		p a,
		p strong,
		p small,
		p b {
			display: inline;
		}
	}

	img[alt='postimage'] {
		display: none;
	}

	p {
		clear: both;
		margin: 40px 0;

		&:nth-of-type(1) {
			font-weight: 600;
			color: #5e6163;
		}
	}

	img {
		max-width: 100%;
		height: auto;
		border-radius: 4px;
	}

	i {
		margin-right: 15px;
	}

	blockquote {
		margin: 40px 0 40px 5%;
		padding: 0 5%;
		border-left: 7px solid #f5f5f5;

		p {
			font: 400 22px 'Lato', Arial, Sans-Serif;
			line-height: 32px;
			padding: 20px 0;
			color: #56595b;
		}
	}

	ul,
	ol {
		font: 400 18px 'Open Sans', Arial, Sans-Serif;
		line-height: 36px;
		margin: 40px 0 40px 10%;
		padding: 0;
		color: #727578;

		li {
			margin: 15px 0;
			padding: 0 0 0 2.5%;
		}

		ol,
		ul {
			&:first-child {
				margin: 15px 0 15px 0;
				padding: 0 0 0 2.5%;
			}

			li {
				margin: 15px 0 15px 0;
				padding: 0 0 0 2.5%;
			}
		}
	}

	strong {
		font-weight: 600;
	}

	small {
		font-size: 14px;
		font-weight: 400;
	}

	h2,
	h2 a,
	h3,
	h3 a {
		margin: 50px 0 40px;
	}

	.annotation {
		margin: 40px 0;

		& * {
			margin: 0;
		}

		.main {
			padding: 15px 0 25px;
			text-align: right;
			border-bottom: 1px solid #d9d9d9;

			h5 {
				font: 400 18px 'Montserrat', Arial, Sans-Serif;
				margin: 5px 0;
			}

			p {
				font: 400 15px 'Open Sans', Arial, Sans-Serif;
				line-height: 32px;
				margin: 0;
				color: #727578;
			}
		}
	}
}