//override styles

$palettes: (
   blue: (
      base:   rgb(25,38,48),
      light:  rgb(185,216,251),
      dark:   rgb(17,27,35)
   ),
   green: (
      base:   rgb(47,172,126),
      light:  rgb(168,242,213)
   ),
   pink:(
      base:   rgb(250,87,97),
      dark:   rgb(255,43,56),
      light: rgb(255, 173, 173)
   ),
   red:(
      base:   rgb(232,51,62)
   ),
   grey:(
      base: rgb(223,223,223),
      dark: rgb(172,172,172)
   ),
   white:(
      base:   rgb(255,255,255)
   ),
   health: (
      base:   rgb(70,121,179),
      light: rgb(219, 234, 234)
   ),
   advocacy: (
      base:   rgb(47,172,126)
   ),
   community:(
      base:   rgb(220,28,95)
   ),
   resources: (
      base:   rgb(37,177,179)
   ),
   standing-voices:(
      base:   rgb(225,32,44)
   ),
   education: (
      base:   rgb(255,195,16)
   )
);



@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

body {

   a:hover:before {
      visibility: hidden;
   }


   .author_widget h3, .author_widget h3 a {
   }


   h1, h2, h3, h4, h5, h6, p {

      color: palette(blue);

   }

   .postinfo_widget a.logo img {
      width: 65%;
   }

   footer {
      background-color: white;
   }


   .postlist article .info {
   	padding: 50px auto;
   }

   .postlist article .info:last-child {
      padding-bottom: 50px;
   }

}

.postcontents p:nth-of-type(1) {
   color: palette(blue);
}

.social_widget {
   display: none;
}

.content {

   .notification span {
      color: palette(green);
      transition: all 0.3s ease;
   }

   .postlist {

      article .info a {
         font-size: 14px;
      }

      .post {

            a {
               color: palette(blue);
               transition: all 0.3s ease;

               &:hover {
                  color: palette(green);
               }
            }

            i {
               transition: all 0.3s ease;
            }

            .sv_button {
               &:hover {
                  color: palette(green);
                  box-shadow: 0px 0px 0px 2px palette(green);

                  i {
                     color: palette(green);
                  }
               }
            }

      }

   }

}

.postlist article .footer {
   padding: 2px;
}

.author_widget h3, .author_widget h3 a {
   font-size: 20px;
   margin-top: 20px;
}

.mainnav {
   display: none;
}

.logo {
   display: none;
}

.header {
   margin: 0px;
}

.container {
   width: 93%;
   margin-top: 250px;
}

#jsLogoHook {
   display: block;

   &.logo__wrapper {
       width: 42%;
   }
}

.content .postlist .post a {
   &:hover {
      background-color: #f7f6f6;
   }
}



/**fixing the headers after nav injection**/

.featureheader {
   min-height: 600px;

   .wrapper {
      margin-top: 300px;
      width: 93%;
   }
}

/**end fixing nav**/
