/*
	SYNTAX HIGHLIGHTING
*/

pre {
	font: 400 16px Courier, monospace;
	line-height: 32px;
	overflow: auto;
	margin-bottom: 20px;
	padding: 4%;
	white-space: pre;
	word-wrap: normal;
	background: #fafafa;
}

code {
	margin: 0 2px;
	padding: 2px 10px;
	border: 1px solid #e9e9e9;
	background: #fff;
}

pre code {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: transparent;
}

pre,
code {
	font-family: Courier, monospace;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}

pre,
pre code {
	font-size: 16px;
}

pre .comment {
	color: #8d8687;
}

pre .variable.global,
pre .variable.class,
pre .variable.instance {
	color: #ef6155;
}

pre .constant.numeric,
pre .constant.language,
pre .constant.hex-color,
pre .keyword.unit {
	color: #f99b15;
}

pre .constant,
pre .entity,
pre .entity.class,
pre .support {
	color: #fec418;
}

pre .constant.symbol,
pre .string {
	color: #48b685;
}

pre .entity.function,
pre .support.css-property,
pre .selector {
	color: #06b6ef;
}

pre .keyword,
pre .storage {
	color: #815ba4;
}