{{! USER CONFIGURATION OF THIS PAGE IS NOT REQUIRED }}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="alternate" type="application/rss+xml" href="{{@blog.url}}/rss/">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="prefetch" href="{{@blog.url}}">

    <link rel="stylesheet" type="text/css" href="{{asset "css/theme.min.css"}}" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato|Open+Sans:400,600|Montserrat:400,700' rel='stylesheet' type='text/css'>

    {{ghost_head}}
</head>
<body class="{{body_class}}" id="sv_body">

   <script>
    window.fbAsyncInit = function() {
       FB.init({
         appId      : '915999841781353',
         xfbml      : true,
         version    : 'v2.5'
       });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
   </script>


   <div class="off-canvas-wrap" id="jsOffCanvasHook" data-offcanvas>

         <div class="inner-wrap">

      <div id="trigger1"></div>


     <aside class="right-off-canvas-menu">
         <ul class="off-canvas-list">
           <li><label>Menu</label></li>
           <li class="has-submenu"><a href="#">Programmes<i class="fa fa-angle-right"></i></a>
               <ul class="right-submenu">
                   <li class="back"><a href="#"><i class="fa fa-angle-left"></i>Back</a></li>
                   <li class="has-submenu"><a href="#">Health<i class="fa fa-angle-right"></i></a>
                       <ul class="right-submenu">
                           <li class="back"><a href="#"><i class="fa fa-angle-left"></i>Back</a></li>
                           <li><label>health</label></li>
                           <li><a href="http://www.standingvoice.org/programmes/vision">Vision</a></li>
                           <li><a href="http://www.standingvoice.org/programmes/skin-cancer-prevention">Skin Cancer Prevention</a></li>
                       </ul>
                   </li>
                   <li class="has-submenu"><a href="#">Advocacy<i class="fa fa-angle-right"></i></a>
                       <ul class="right-submenu">
                           <li class="back"><a href="#"><i class="fa fa-angle-left"></i>Back</a></li>
                           <li><label>Advocacy</label></li>
                           <li><a href="http://www.standingvoice.org/programmes/global-advocacy">Global advocacy</a></li>
                           <li><a href="http://www.standingvoice.org/programmes/in-the-shadow-of-the-sun">In the Shadow of the Sun</a></li>
                       </ul>
                   </li>
                   <li class="has-submenu"><a href="#">Community<i class="fa fa-angle-right"></i></a>
                       <ul class="right-submenu">
                           <li class="back"><a href="#"><i class="fa fa-angle-left"></i>Back</a></li>
                           <li><label>Community</label></li>
                           <li><a href="http://www.standingvoice.org/programmes/tailored-support">Tailored Support</a></li>
                           <li><a href="http://www.standingvoice.org/programmes/umoja-training-centre">Umoja Training Centre</a></li>
                       </ul>
                   </li>

                    <li><a href="http://www.standingvoice.org/programmes/education">Education</a></li>
                    <li><a href="http://www.standingvoice.org/programmes/kilisun">Kilisun</a></li>
                    <li><a href="http://www.standingvoice.org/standing-voices">Standing Voices</a></li>
               </ul>
           </li>
           <li><a href="http://www.standingvoice.org/albinism">Albinism</a></li>
           <li><a href="http://news.standingvoice.org">News</a></li>
           <li><a href="http://www.standingvoice.org/resources">Resources</a></li>
           <li><a href="http://www.standingvoice.org/fundraising">Get Involved</a></li>
           <li><a href="http://www.standingvoice.org/about">About Us</a></li>
           <li><a href="http://www.standingvoice.org/donate">Donate</a></li>
         </ul>
       </aside>


      <div class="sticky-background fullbleed" id="jsStickyBgHook"></div>
        <header class="header">

           <div class="socialheader socialheader__wrapper">

          </div>

            <section>

               <!--nav container row-->
               <div class="header__fixed" id="jsPinHook">
               <div class="row">
                  <div class="large-3 medium-2 small-8 columns">

                     <!--logo container-->
                     <div class="logo logo__wrapper" id="jsLogoHook">
                        <div class="logo__container">
                           <a href="http://www.standingvoice.org" style="display: inherit;"><img src="../../assets/img/sv_logo.svg" alt="standing voice logo"></a>
                        </div>
                     </div>

                     <div class="logo__mark" id="jsMarkHook">
                        <a href="http://www.standingvoice.org" style="display: inherit;"><img src="../../assets/img/sv_logo-mark.svg" class="ui image transition hidden" alt="standing voice logo"></a>
                     </div>
                     <!--end logo container-->

                  </div>

                  <div class="large-9 medium-10 small-4 columns">

                     <!--start nav-->
                     <nav class="sv-nav" id="jsNavigationHook">
                     <div class="ui menu">

                        <a href="http://www.standingvoice.org/about" class="item">
                        about us
                       </a>
                       <div class="ui dropdown link item">
                         <span class="text">Programmes</span>
                         <i class="fa fa-angle-down"></i>
                         <div class="menu">
                           <div class="header"><a href="http://www.standingvoice.org/programmes">All Programmes</a></div>
                           <div class="item">
                             <i class="fa fa-angle-right"></i>
                             <span class="text">Health</span>

                             <div class="menu">
                                <div class="item"><a href="http://www.standingvoice.org/programmes/vision">Vision</a></div>
                                <div class="item"><a href="http://www.standingvoice.org/programmes/skin-cancer-prevention">Skin Cancer Prevention</a></div>
                             </div>
                           </div>
                           <div class="divider"></div>
                           <div class="item">
                             <i class="fa fa-angle-right"></i>
                             <span class="text">Advocacy</span>

                             <div class="menu">
                                <div class="item"><a href="http://www.standingvoice.org/programmes/global-advocacy">Global advocacy</a></div>
                                <div class="item"><a href="http://www.standingvoice.org/programmes/in-the-shadow-of-the-sun">In the Shadow of the Sun</a></div>
                             </div>
                           </div>
                           <div class="divider"></div>
                           <div class="item">
                             <i class="fa fa-angle-right"></i>
                             <span class="text">Community</span>

                             <div class="menu">
                                <div class="item"><a href="http://www.standingvoice.org/programmes/tailored-support">Tailored Support</a></div>
                                <div class="item"><a href="http://www.standingvoice.org/programmes/umoja-training-centre">Umoja Training Centre</a></div>
                             </div>
                           </div>
                           <div class="divider"></div>
                           <div class="item">
                            <a href="http://www.standingvoice.org/programmes/education">Education</a>
                           </div>

                           <div class="divider"></div>
                           <div class="item">
                            <a href="http://www.standingvoice.org/programmes/kilisun">Kilisun</a>
                           </div>
                            <div class="divider"></div>
                            <div class="item">
                              <a href="http://www.standingvoice.org/standing-voices">Standing Voices</a>
                            </div>
                         </div>
                       </div>
                       <a href="http://www.standingvoice.org/albinism" class="item">
                       albinism
                      </a>
                       <a href="http://news.standingvoice.org" class="item">
                         News
                       </a>
                       <a href="http://www.standingvoice.org/resources" class="item">
                         Resources
                       </a>
                       <a href="http://www.standingvoice.org/fundraising" class="item">
                        get involved
                       </a>
                       <a href="http://www.standingvoice.org/donations" class="item donate sv_button">
                        Donate
                       </a>
                     </div>
                  </nav>
                     <!--end nav-->

                     <div id="nav-icon3">
                       <span></span>
                       <span></span>
                       <span></span>
                       <span></span>
                     </div>

                  </div>
               </div>
            </div>
               <!--end nav container row-->

            </section>
        </header>

    {{! NAVIGATION }}
    <!-- <nav class="mainnav {{#post}}{{post_class}}{{/post}}">
        <a id="top"></a>
        <div class="navwrap">
            {{navigation}}
            <div class="toggle"><a href="#"><i class="fa fa-bars"></i></a></div>
        </div>
    </nav> -->

    {{{body}}}

    {{> footer}}

    {{! JAVASCRIPT }}
    {{ghost_foot}}
    <script src="{{asset "../node_modules/standing-voice/public/js/"}}"></script>

    <script src="{{asset "core/js/vendor/jquery.js"}}"></script>
    <script src="{{asset "core/js/vendor/fastclick.js"}}"></script>
    <script src="{{asset "core/js/vendor/placeholder.js"}}"></script>

    <script src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.17.0/TweenMax.min.js"></script>

    <script src="{{asset "core/js/vendor/ScrollMagic.js"}}"></script>
    <script src="{{asset "core/js/vendor/animation.gsap.min.js"}}"></script>
    <script src="{{asset "core/js/vendor/debug.addIndicators.min.js"}}"></script>
    <script src="{{asset "core/js/vendor/jquery.scrollTo.min.js"}}"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

    <script src="{{asset "core/js/vendor/transition.js"}}"></script>
    <script src="{{asset "core/js/vendor/dropdown.min.js"}}"></script>
    <script src="{{asset "core/js/vendor/accordion.min.js"}}"></script>

    <script src="{{asset "core/js/vendor/modernizr.js"}}"></script>
    <script src="{{asset "core/js/foundation.min.js"}}"></script>
    <script src="{{asset "core/js/vendor/velocity.min.js"}}"></script>
    <script src="{{asset "core/js/binds.js"}}"></script>
    <script src="{{asset "core/js/app.js"}}"></script>

    <script src="{{asset "js/theme.min.js"}}"></script>


    <script>

   (function(window, document, undefined){

       'use strict';

       document.addEventListener('DOMContentLoaded', function(){

          //these are needed on each page
          UI.binds.testConsole();
          UI.binds.semanticDropdownNav();
          UI.binds.stickynav();
          UI.binds.semanticTitleAnimate();
          UI.binds.navUX();

       });

   })(window, document);

</script>

<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-71087728-1', 'auto');
   ga('send', 'pageview');

 </script>

</body>
</html>
