{{! 
	
	INDEX TEMPLATE
	- User configuration of this file is not required. 

}}
{{!< default}}

<div class="container">

	{{> sidebar_default}}

	<div class="content">

		{{! WIDGET - BLOG INFO }}
		{{> widget_bloginfo}}

		{{! RESPONSIVE NAVIGATION }}
		<div class="inlinemenu">
			<div class="graybar">
				<div class="left"><i class="fa fa-bars"></i>Navigation</div>
				<div class="right"><i class="fa fa-chevron-down"></i></div>
			</div>
			{{navigation}}
		</div>

		{{! POSTLIST }}
		<div class="postlist">
			{{> loop}}
			{{pagination}}
		</div>
		
	</div>

</div>
